nav.sidebar {
	position: fixed;
	top: 2rem;
	left: 0;

	width: 4rem;
	height: calc(100% - 3rem);

	overflow-x: clip;
	overflow-y: scroll;
	scrollbar-width: none;

	padding-bottom: 4rem;

	z-index: 1;
}

nav.sidebar hr {
	margin: 0.5rem 0.75rem;
}

nav.sidebar button {
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;

	width: 2.5rem;
	height: 2.5rem;

	background: hsla(var(--background-front), 50%);

	font-size: 1rem;
	font-weight: 600;

	border: none;
	border-radius: 0.5rem;

	margin: 0.4rem auto;
	padding: 0;
}

nav.sidebar button .icon {
	width: 100%;
	height: 100%;

	border-radius: 0.5rem;
}

nav.sidebar button svg.icon {
	border: 1px solid hsla(var(--text), 10%);

	padding: 0.5rem;
}

nav.sidebar button span.icon {
	font-size: 1rem;
	text-transform: uppercase;

	border: 1px solid hsla(var(--text), 10%);
}

nav.sidebar .folder {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;

	width: 3rem;

	background: color-mix(var(--folder-color, var(--background-front)) 20%, var(--background-front) 80%);

	border-radius: 0.75rem;

	margin: 0.4rem auto;
	padding: 0.25rem 0;

	transition: background 0.2s ease-in-out;
}

nav.sidebar .folder.collapsed {
	width: 2.5rem;

	background: transparent;

	padding: 0;
}

nav.sidebar button.folder-header {
	width: 2.5rem;
	height: 2.5rem;

	background: transparent;

	margin: 0;

	overflow: visible;
}

nav.sidebar .folder.collapsed button.folder-header {
	background: color-mix(var(--folder-color, var(--background-front)) 20%, var(--background-front) 80%);
}

nav.sidebar button.folder-header:hover {
	background: color-mix(var(--folder-color, var(--background-front)) 30%, var(--background-front) 70%);
}

nav.sidebar .folder-header .caret {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	color: var(--folder-color, var(--background-front));
}

nav.sidebar .folder.collapsed .folder-header .caret {
	display: none;
}

nav.sidebar .folder-icon {
	display: none;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0.1rem;

	width: 100%;
	height: 100%;

	padding: 0.2rem;
}

nav.sidebar .folder.collapsed .folder-icon {
	display: grid;
}

nav.sidebar button.mini-icon {
	width: 100%;
	height: 100%;

	background: transparent;

	border: none;

	margin: 0;
	padding: 0;

	pointer-events: none;
}

nav.sidebar button.mini-icon .icon {
	border-radius: 0.2rem;
}

nav.sidebar .folder-content {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
}

nav.sidebar .folder.collapsed .folder-content {
	display: none;
}

nav.sidebar .folder-content button {
	margin: 0.2rem auto;
}