<section class="formatted">

	<h1><span id="mercury-icon"></span> Mercury</h1>

	<div class="note">

		<p>Mercury is a lightweight, fast and powerful Discord client. However:</p>

		<ul>

			<li>
				It automates your user account, which violates <a href="https://discord.com/terms">Discord's Terms of Service</a>.<br />
				We are not responsible for any consequences on your account.
			</li>
			<li>
				It is still in development and may have some bugs.<br />
				If you encounter any, please report them on our <a href="https://github.com/Wixonic/Mercury/issues">GitHub Repository</a>.
			</li>

		</ul>

	</div>

</section>