@import url("./styles/formatting.css");
@import url("./styles/titlebar.css");
@import url("./styles/sidebar.css");
@import url("./styles/you-bar.css");
@import url("./styles/animated-icon.css");

main {
	position: absolute;
	top: 2rem;
	left: 4rem;

	display: block;

	width: calc(100% - 4rem);
	height: calc(100% - 2rem);

	border: 1px solid hsla(var(--text), 10%);
	border-right: none;
	border-bottom: none;
	border-top-left-radius: 0.5rem;

	padding: 0.5rem;
}