<header class="titlebar" data-tauri-drag-region>

	<h1 class="location" data-tauri-drag-region>Mercury</h1>

	<aside class="state" data-tauri-drag-region><span style="color: hsl(var(--warning));">Loading</span></aside>

</header>

<nav class="sidebar">

	<section class="navigation">

		<button id="direct-messages">D</button>

		<button id="favorites">F</button>

	</section>

	<hr />

	<section class="guilds"></section>

	<section class="guilds-action">

		<button id="create-guild">C</button>

		<button id="explore-guilds">E</button>

	</section>

</nav>

<main></main>