body[state="app"] {
	display: grid;
	grid-template-rows: 2rem 1fr 5rem;
	grid-template-columns: 5rem 10rem 1fr;
}

header.titlebar {
	grid-column: 1 / -1;
	grid-row: 1;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;

	width: 100%;
	height: 100%;
}

header.titlebar>* {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	margin: 0;
}

header.titlebar h1.location {
	grid-column: 2;
	grid-row: 1;

	font-size: 0.85rem;
	font-weight: 600;
	text-align: center;
}

header.titlebar aside.state {
	grid-column: 3;
	grid-row: 1;

	justify-content: right;

	font-size: 0.75rem;
	font-weight: 400;
	text-align: right;

	padding-right: 0.5rem;
}

nav.sidebar {
	grid-column: 1;
	grid-row: 2 / -1;
}

nav.sidebar.loading {
	filter: blur(1rem);
}

nav.sidebar hr {
	margin: 1.2rem 0.6rem;
}

nav.sidebar button {
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;

	width: 3rem;
	height: 3rem;

	background: transparent;

	font-size: 1.25rem;
	font-weight: 600;

	border: 0.1rem solid hsla(var(--text), 10%);
	border-radius: 0.5rem;

	margin: 0.5rem auto;
	padding: 0;

	cursor: pointer;

	transition: transform 0.2s ease-in-out;
}

nav.sidebar button:hover {
	transform: scale(1.05);
}

nav.sidebar button .icon {
	max-width: 100%;
	max-height: 100%;

	border-radius: 0.5rem;
}

nav.sidebar button svg.icon {
	max-width: 2rem;
	max-height: 2rem;
}

nav.sidebar button span.icon {
	font-size: 1rem;
	text-transform: uppercase;
}

nav.sidebar button label {
	position: absolute;
	top: 0.5rem;
	left: 3.5rem;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 2rem;
	width: fit-content;

	background: hsla(var(--background), 20%);
	backdrop-filter: blur(0.4rem);

	color: hsla(var(--text), 75%);
	font-size: 0.9rem;
	white-space: nowrap;

	border: 0.05rem solid hsla(var(--text), 10%);
	border-radius: 0.25rem;

	padding: 0.25rem 0.5rem;

	pointer-events: none;

	opacity: 0;

	transition: opacity 0.2s ease-in-out;
}

nav.sidebar button:hover label {
	opacity: 1;
}

main {
	grid-column: 2 / -1;
	grid-row: 2 / -1;

	border: 0.1rem solid hsla(var(--text), 10%);
	border-right: none;
	border-bottom: none;
	border-top-left-radius: 0.5rem;

	padding: 0.5rem;
}