<header class="titlebar" data-tauri-drag-region>

	<h1 class="location" data-tauri-drag-region>Mercury</h1>

	<aside class="state" data-tauri-drag-region><span style="color: hsl(var(--warning));">Loading</span></aside>

</header>

<nav class="sidebar loading loadable">

	<section class="navigation">

		<button id="direct-messages" tooltip="Direct Messages"></button>

		<button id="favorites" tooltip="Favorites"></button>

	</section>

	<hr />

	<section class="guilds"></section>

	<section class="guilds-action">

		<button id="create-guild" tooltip="Create Guild"></button>

		<button id="explore-guilds" tooltip="Explore Guilds"></button>

	</section>

</nav>

<nav class=" you-bar loading loadable">

	<img class="nameplate" />

	<div class="avatar">

		<img class="avatar-image" />

		<img class="avatar-decoration" />

		<div class="status-indicator"></div>

	</div>

	<div class="state">

		<div class="name"></div>

		<div class="status"></div>

	</div>

	<div class="toolbar">

		<button id="settings" tooltip="Settings" tooltip-orientation="top"></button>

	</div>

</nav>

<main></main>