.channels {
	width: 100%;
	height: 100%;

	border-right: 1px solid hsla(var(--text), 10%);

	scrollbar-width: none;
	overflow-y: scroll;

	padding: 0.25rem;
	padding-bottom: 4.5rem;
}

.channels .category-container {
	display: grid;
	grid-template-rows: 1fr;

	overflow: hidden;

	transition: grid-template-rows 0.2s cubic-bezier(0.4, 0, 0.2, 1), var(--loadable-transition, none);
}

.channels .category-container.collapsed {
	grid-template-rows: 0fr;
}

.channels .category-channels {
	display: flex;
	flex-direction: column;

	min-height: 0;

	padding-left: 0.5rem;

	opacity: 1;

	transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1), var(--loadable-transition, none);
}

.channels .category-container.collapsed>.category-channels {
	opacity: 0;

	pointer-events: none;
}

.channels .category-header,
.channels .channel {
	display: grid;
	align-items: center;

	width: 100%;

	font-size: 0.8rem;

	margin: 0.1rem 0;
	padding: 0 0.3rem;

	cursor: pointer;
}

.channels .category-header>*,
.channels .channel>* {
	grid-row: 1;
}

.channels .category-header {
	grid-template-columns: 1.25rem 1fr 0fr 1.5rem;
	align-items: center;

	height: 1.5rem;

	font-size: 0.7rem;

	margin-top: 1.5rem;

	cursor: pointer;
}

.channels .category-header:first-child,
.channels>.channel:first-child {
	margin-top: 0.5rem;
}

.channels .category-header:hover {
	grid-template-columns: 1.25rem 1fr 1.5rem 1.5rem;
}

.channels .category-header>.collapse,
.channels .category-header>.name {
	color: hsla(var(--text), 60%);
}

.channels .category-header:hover>.collapse,
.channels .category-header:hover>.name {
	color: hsla(var(--text), 100%);
}

.channels .channel {
	grid-template-rows: repeat(auto-fill, 1.75rem);
	grid-template-columns: 1.25rem 1fr 0;
	column-gap: 0.35rem;

	color: hsl(var(--text));
	font-size: 0.8rem;

	height: 1.75rem;

	border-radius: 0.4rem;

	opacity: 0.6;

	transition: opacity 0.15s ease-in-out, background 0.15s ease-in-out, grid-template-columns 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.channels .channel:hover {
	grid-template-columns: 1.25rem 1fr 1.5rem;

	background: hsla(var(--text), 5%);

	opacity: 0.9;
}

.channels .channel.selected {
	background: hsla(var(--text), 10%);

	opacity: 1;
}

.channels .channel.selected:hover {
	background: hsla(var(--text), 15%);

	opacity: 1;
}

.channels .channel.voice {
	grid-template-columns: 1.25rem 1fr 0 0;
}

.channels .channel.voice:hover {
	grid-template-columns: 1.25rem 1fr 1.5rem 1.5rem;
}

.channels .category-header>.name,
.channels .channel>.name {
	width: 100%;

	white-space: nowrap;
	text-overflow: ellipsis;

	overflow: hidden;
}

.channels .category-header>.collapse {
	grid-column: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 0.45rem;

	transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), var(--loadable-transition, none);
}

.channels .category-header.collapsed>.collapse {
	transform: rotate(-90deg);
}

.channels .channel>.channel-icon {
	grid-column: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;

	width: 1.25rem;
	height: 1.25rem;

	overflow: visible;
}

.channels .channel>.channel-icon .main-icon {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
}

.channels .channel>.channel-icon .main-icon svg {
	width: 100%;
	height: 100%;

	vertical-align: middle;
}

.channels .channel>.channel-icon .badge {
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	bottom: -0.05rem;
	right: -0.05rem;

	width: 0.55rem;
	height: 0.55rem;

	background: hsl(var(--background));
	box-shadow: 0 0 0 0.1rem hsl(var(--background));

	border-radius: 50%;

	overflow: visible;
}

.channels .channel>.channel-icon .badge svg {
	width: 100% !important;
	height: 100% !important;

	vertical-align: top !important;
}

.channels .channel>.name {
	grid-column: 2;
}

.channels .category-header>.name {
	grid-column: 2;
}

.channels .channel>.settings {
	grid-column: 3;
}

.channels .channel.voice>.open-chat {
	grid-column: 3;
}

.channels .category-header>.settings {
	grid-column: 3;
}

.channels .channel.voice>.settings {
	grid-column: 4;
}

.channels .category-header>.create-channel {
	grid-column: 4;
}

.channels .category-header button,
.channels .channel button {
	display: flex;
	justify-content: center;
	align-items: center;

	min-width: 0;
	width: 1.5rem;
	height: 1.5rem;

	background: transparent;

	color: hsl(var(--text));
	font-size: 0.75rem;

	border: none;
	border-radius: 50%;

	margin: 0;
	padding: 0;

	opacity: 0.6;

	visibility: hidden;

	overflow: hidden;

	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, var(--loadable-transition, none);
}

.channels .category-header button {
	margin: 0;
}

.channels .channel button {
	margin: 0.25rem 0;
}

.channels .category-header:hover button,
.channels .channel:hover button {
	visibility: visible;
}

.channels .category-header button.create-channel {
	opacity: 0.6;

	visibility: visible;
}

.channels .category-header button:hover,
.channels .channel button:hover {
	opacity: 1;
}