body[state="login"] {
	background: linear-gradient(135deg, hsl(var(--background)), hsl(var(--blurple)));
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: hsl(var(--background));

	width: fit-content;
	height: fit-content;

	border: 0.1rem solid hsla(var(--blurple), 40%);
	border-radius: 1.5rem;

	box-shadow: 0 0.5rem 1.5rem hsla(var(--background), 70%);

	margin: auto;
	padding: 2rem;
}

.qrcontainer {
	width: 25rem;
	height: 25rem;

	color: hsl(var(--text));

	transition: filter 0.2s linear;
}

.qrcontainer svg {
	width: 100%;
	height: 100%;

	padding: 1rem;
}

.qrcontainer.blur svg {
	filter: blur(0.3rem);
}